#!KAMAILIO

####### Include Local Config If Exists #########
import_file "kamailio-local.cfg"

####### Global Parameters #########

# Server header to be used in replies
server_header="Server: Kamailio"

/* LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR, ... */
debug=2

/* set to 'yes' to print log messages to terminal or use '-E' cli option */
log_stderror=no

memdbg=5
memlog=5

log_facility=LOG_LOCAL0
log_prefix="{$mt $hdr(CSeq) $ci} "

/* number of SIP routing processes for each UDP socket
 * - value inherited by tcp_children and sctp_children when not set explicitely */
children=8

/* uncomment the next line to disable TCP (default on) */
disable_tcp=yes

/* uncomment the next line to disable the auto discovery of local aliases
 * based on reverse DNS on IPs (default on) */
auto_aliases=no

/* add local domain aliases - it can be set many times */
# alias="sip.mydomain.com"

/* listen sockets - if none set, Kamailio binds to all local IP addresses
 * - basic prototype (full prototype can be found in Wiki - Core Cookbook):
 *      listen=[proto]:[localip]:[lport] advertise [publicip]:[pport]
 * - it can be set many times to add more sockets to listen to */
 listen=udp:eth0:5060

 ####### Modules Section ########
loadmodule "pv.so" # PV module for variable manipulation
# loadmodule "tm.so" # Transaction module for SIP transactions
loadmodule "sl.so" # Stateless module for stateless requests
loadmodule "xlog.so" # XLOG module for logging


####### Routing Logic ########

request_route {

    # per request initial checks
	route(REQINIT);

    xlog("L_ALERT" , "$rm from $fu (IP:$si:$sp)\n");
    # if RURI equal to current host, then reply with 200 OK
    if (uri == myself) {
        sl_send_reply("200", "OK");
        exit;
    }
    # change request URI
    # $ru = "sip:" + $rU + "@iptel.org";
    forward();
}


route[REQINIT] {
    # Force rport in Via header
    force_rport();
}