#!KAMAILIO

# *** To enable mysql:
#!define WITH_MYSQL

####### Include Local Config If Exists #########
import_file "kamailio-local.cfg"

####### Defined Values #########

#!ifdef WITH_MYSQL
loadmodule "db_mysql.so" # Load MySQL database module
#!trydef DBURL "mysql://MYSQL_USER:MYSQL_PASS@MYSQL_HOST:MYSQL_PORT/kamailio"
#!endif

####### Global Parameters #########

# Server header to be used in replies
server_header="Server: StandWithUkraine"

/* LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR, ... */
debug=2

/* set to 'yes' to print log messages to terminal or use '-E' cli option */
log_stderror=no

memdbg=5
memlog=5

log_facility=LOG_LOCAL0
log_prefix="{$mt $hdr(CSeq) $ci} "

/* number of SIP routing processes for each UDP socket
 * - value inherited by tcp_children and sctp_children when not set explicitely */
children=8

/* uncomment the next line to disable TCP (default on) */
disable_tcp=yes

/* uncomment the next line to disable the auto discovery of local aliases
 * based on reverse DNS on IPs (default on) */
auto_aliases=no

/* add local domain aliases - it can be set many times */
# alias="sip.mydomain.com"

/* listen sockets - if none set, Kamailio binds to all local IP addresses
 * - basic prototype (full prototype can be found in Wiki - Core Cookbook):
 *      listen=[proto]:[localip]:[lport] advertise [publicip]:[pport]
 * - it can be set many times to add more sockets to listen to */
listen=udp:eth0:5060 advertise ADV_HOST:5060

 ####### Modules Section ########
loadmodule "pv.so" # PV module for variable manipulation
loadmodule "tm.so" # Transaction module for SIP transactions
loadmodule "sl.so" # Stateless module for stateless requests
loadmodule "xlog.so" # XLOG module for logging
loadmodule "maxfwd.so" # Max-Forwards header processing module
loadmodule "textops.so" # Text operations module for string manipulation
loadmodule "rr.so" # Record-Route module for handling Record-Route headers
loadmodule "siputils.so" # SIP utilities module for SIP message handling
loadmodule "sanity.so" # Sanity module for basic request checks
loadmodule "nathelper.so" # NAT helper module for handling NAT-related issues
#loadmodule "mangler.so" # Mangler module for manipulating SIP messages
loadmodule "textopsx.so"

####### Module Parameters ########
modparam("tm", "auto_inv_100", 1) # Automatically send 100 Trying for INVITE requests
modparam("tm", "auto_inv_100_reason", "Trying") # Reason phrase for 100 Trying

modparam("sanity", "noreply", 1) 

# params needed for NAT traversal in other modules

####### Routing Logic ########

request_route {
    # per request initial checks
	route(REQINIT);

    # Log the request method, from URI, and source IP
    xlog("L_ALERT" , "NEW $rm from $fu (IP:$si:$sp)\n");
    if (uri == myself) {
        if (uri =~ "^sip:proxy_ip") {
            decode_contact();
            // xlog("L_ALERT" , "Decoded $rU $rd \n");
            // remove_hf("To");
            // append_hf("To: <sip:$rU@$rd>\n", "From");
            record_route();
            t_on_reply("MANAGE_REPLY");
            t_relay();
            exit;
        }

        sl_send_reply("200", "OK");
        exit;
    }
    # REGISTER
    route(REGISTRAR);

    // if (has_totag()) {
    //     # if request has a to-tag, it is a retransmission or a response
    //     # to an INVITE, so we just forward it
    //     xlog("L_INFO", "Request with to-tag received, forwarding\n");
    // } else {
    //     # if no to-tag, it is a new request
    //     xlog("L_INFO", "New request received\n");
    // }
    # if RURI equal to current host, then reply with 200 OK


    // if (uri == myself) {

    //     if (uri =~ "^sip:enc_ct") {
    //         decode_contact();
    //         remove_hf("To");
    //         append_hf("To: <$ru>\r\n", "From");
    //         record_route();
    //         t_relay();
    //         exit;
    //     }
    //     sl_send_reply("200", "OK");
    //     exit;
    // }
    # change request URI
    # $ru = "sip:" + $rU + "@iptel.org";
    // encode_contact("natted_ip", ADV_HOST);
    // # save("location");
    // #subst("/(Contact:.*<sip:[^@]+)@([0-9.]+):[0-9]+([^>]*)>/\\1@node1.asteriskukraine.com:5060\\3;pbx=$fd>/i");
    // # subst("/(Contact:.*<sip:[^@]+)@([0-9]+\\.[0-9]+\\.[0-9]+\\.[0-9]+):[0-9]+([^>]*)>/\\1@node1.asteriskukraine.com:5060\\3>/i");
    // # 2. Додаємо ;pbx=pbx.gixo.co.uk перед >
    // # subst("/(Contact:.*)(>)/\\1;pbx=pbx.gixo.co.uk\\2/i");
    // # record-route INVITES to make sure BYEs will visit our server too
	// if (method=="INVITE") {
    //     record_route();
    //     if ($rU =~ "^enc_ct") {
    //         decode_contact();
    //     }
    //     # subst("/(Contact:.*<sip:[^@]+)@([0-9]+\\.[0-9]+\\.[0-9]+\\.[0-9]+)(:[0-9]+)([^>]*)>/\\1@node1.asteriskukraine.com\\3\\4>/i");
	//     # subst("/(Contact:.*<sip:[^@]+)@([0-9]+\\.[0-9]+\\.[0-9]+\\.[0-9]+):[0-9]+([^>]*)>/\\1@node1.asteriskukraine.com:5060\\3>/i");
        
    // }
    // # forward the request
    // #forward(); 
    // #forward();
    
    t_relay(); # Use transaction module to handle the request
}


route[REQINIT] {

    # initial sanity checks -- messages with
	# max_forwards==0, or excessively long requests
	if (!mf_process_maxfwd_header("10")) {
		sl_send_reply("483", "Too Many Hops");
		exit;
	};
	if (msg:len >= 2048 ) {
		sl_send_reply("513", "Message too big");
		exit;
	};
    if(!sanity_check("1024", "6")) {
        xdbg("sanity checks failed\n");
        sanity_reply();
        exit;
    }
    # Force rport in Via header
    #force_rport();
}

route[REGISTRAR] {
    if (!is_method("REGISTER")) return;
    # add_contact_alias("enc_ct", ADV_HOST, 5060);
    if (nat_uac_test("19")) {
        xlog("L_INFO", "NAT detected for REGISTER request\n");
        fix_nated_contact();
        msg_apply_changes();
    }
    encode_contact("proxy_ip", ADV_HOST);
    t_relay();
    exit;
}

onreply_route[MANAGE_REPLY] {
    fix_nated_contact();
    if (has_body("application/sdp") && status=~"200") {
        fix_nated_sdp("10");  # 0x02 + 0x08
    }
}